* {

    font-family: 'Mulish', sans-serif;

}

* {
    padding: 0;
    margin: 0;

}

header,
main {
    max-width: 1100px;
    margin: 0 auto;
}

/* header section styles */
.header-section {
    display: flex;
    /* margin-top: 50px; */

    padding-top: 20px;


    /* margin-left: 50px;
    margin-left: 50px;
    border-radius: 5px; */

}

.nav-section {
    display: flex;
    align-items: center;
    width: 50%;
    min-height: 20px;
    gap: 10px;

}

.nav-section p {
    color: #131318;
    font-size: 1.75rem;
    font-weight: 600;
}

.nav-section img {
    width: 60px;
}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-container a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.nav-item-container .home-color {
    color: #FF5400;
}

.span-color {
    color: #FF5400;
    /* gap: 5px; */
}

.for-nav-bar {
    display: none;
}

/* banner-section */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/group-13.png");
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 50px;
}

.banner h2 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.banner p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;

}

.input-data-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0px 45px;
    padding: 16px;

    gap: 24px;

}

.input-data-section input {
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 0px 9px 5px;

}

.input-field {
    position: relative;
}

.input-field i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
}

.banner-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 400;
    padding: 8px 30px 8px 20px;

}


.popular-section {
    margin-top: 50px;
    display: flex;
    gap: 2%
}

.popular-section-text {
    width: 49%;
}

.popular-section-image {
    width: 49%;
}

.popular-section-image img {
    width: 100%;
}

.popular-section-text h2,
.places-container h2,
.heritage-text-containe h2,
.Newsletter-section-form h2 {
    color: #131318;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.popular-section-text p,
.places-container p,
.heritage-text-containe p,
.Newsletter-section-form p {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.popular-section-text ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* choose destination */
.destination-section {
    margin-top: 50px;
}

.destination-section-title {
    color: #131318;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 14px;

}

.destination-section p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;

}

.place-container-1,
.place-container-2,
.place-container-3 {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: center;

}

.image-places {
    position: relative;
}

.image-name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.image-name,
.img-title {
    color: #FFF;
    font-size: 1.30rem;
    font-weight: 800;


}

/* bangladeshi heritege  */
.bangladesh-heritage {
    margin-top: 50px;
}

.heritage-text-containe {
    text-align: center;
}

.image-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

/* Style for the image itself */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Style for the heading */
.image-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
}

/* why choose us styles */
.choose-section {
    margin-top: 50px;

}

.choose-section-title {
    text-align: center;

}

.choose-section-title h2 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 28px;
    margin-bottom: 14px;

}

.choose-section-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;

}

/* cart styles */
.choose-carts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.choose-container {
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
}

.choose-hotels {
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.choose-services {
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.choose-price {
    width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px;
}

/* deals and section starts here  */


.deal-done {
    margin-top: 100px;
}

.deal-done-container {
    text-align: center;
}

.deal-done-container h2 {
    font-weight: 800;
    color: #131318;
    font-size: 1.5rem;
}

.deal-done-container p {
    color: #5A5A5D;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;

}

.deal {
    background-image: url("../images/group-39.png");
    background-size: cover;
    padding: 30px 30px;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.deal ul {
    display: flex;
    gap: 10px;
}

.deal li {
    list-style: none;
}

.deal-1 {
    background-image: url("../images/group-40.png");
    background-size: cover;
    padding: 30px 30px;
    display: flex;
    justify-content: start;
}

.deal-1 ul {
    display: flex;
    gap: 10px;
}

.deal-1 li {
    list-style: none;
}

.deal-cart {
    width: 400px;
    height: auto;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
}

.deal-cart-title {
    font-size: 1.25rem;
    font-weight: 800;
    color: #131318;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deal-cart-decription {
    color: #5A5A5D;
    font-weight: 400;
    font-size: 0.75rem;
}

.deal-cart-price {
    color: #FF5400;
    font-weight: 800;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* deals and section ends here  */



/* perfect-places-styles */
.perfect-places-section {

    display: flex;
    align-items: center;
    /* margin-bottom: 50px; */
    gap: 3%;
    margin-top: 50px;
}

.places-container {
    width: 49%;
}

.places-video {
    width: 48%;
}

.places-video video {
    width: 100%;
}

.places-container ul {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    gap: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px;
    padding: 13px;
    border: #FF5400;
    width: 120px;

}


/* Newsletter-section styles */

.Newsletter-section-container {
    margin-top: 50px;
    display: flex;
    gap: 2%;
}

.Newsletter-section-form {
    width: 49%;
}

.Newsletter-section-image {
    width: 49%;
}

.Newsletter-section-image img {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container input {
    padding: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.input-container button {
    padding: 16px;

    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
    font-size: 1.25rem;
}

.horzental-line {
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 10px;
}


.batch {
    border-radius: 8px;
    background: #FF5400;
    ;
    color: #FFF;
    width: 200px;
    padding: 10px;
    text-align: center;
    position: relative;
    transform: rotate(-19.628deg);
    bottom: 100px;
    left: 295px;
}

.batch p {
    color: #FFF;
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: none;
    line-height: normal;
}

.batch h4 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 200;

}



/* footer-part-styles */
.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.foot-logo-container{
    display: flex;
}
.foot-logo-container img {
    width: 50px;
}
.foot-logo-container p {
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}

.footer-des {
    color: #5A5A5D;
    font-weight: 400;
    text-align: center
}
.footer-des{
    margin-top: 20px;
}
.logo-container .logo {
    margin-top: 12px;
    margin-bottom: 20px;
}

.copy-right {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.logo .horzental-line {
    margin-top: 10px;
    margin-bottom: 10px;
}










/* for mobile device */
/* header-section */
@media screen and (max-width:600px) {
    * {
        padding: 5px;
    }

    .header-section {

        /* margin-left: 30px;
        margin-right: 30px; */
        justify-content: space-around;

    }

    .input-data-section {
        flex-direction: column;
    }

    .nav-section p {
        font-size: 1.50rem;
    }

    .nav-item-container {
        display: none;
    }

    .nav-section img {
        width: 40px;
    }

    .for-nav-bar {
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        margin-left: 90px;
        /* margin-right: 60px; */
    }

    .banner,
    .bangladesh-heritage,
    .choose-section {
        margin-top: 20px;
        
    }
    .banner h2{
        font-size: 2.2rem;
    }

    .input-data-section {
        flex-direction: column;
    }

    .banner-btn {
        padding: 8px 90px 8px 20px;
    }

    /* popular section  */
    .popular-section {
        flex-direction: column;
    }

    .popular-section-text {
        width: 100%;
    }

    .popular-section-image {
        width: 100%;
    }

    /* destination-section */
    .destination-section {
        margin-top: 10px;

    }

    .destination-section p {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;

    }


    .place-container-1,
    .place-container-2,
    .place-container-3 {
        flex-direction: column;
        gap: 5px;
        margin-top: 0px;
        margin-bottom: 10px;

    }

    .place-container-1 img,
    .place-container-2 img,
    .place-container-3 img {
        width: 100%;

    }

    .image-grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* Display two columns for smaller screens */
    }

    /* choose-section  */
    /* cart styles */
    .choose-section {
        margin-top: 10px;

    }

    .choose-carts {
        align-items: start;
        gap: 10px;
        /* gap: 1%; */
    }

    .choose-container {
        flex-direction: column;
        gap: 10px;
        /* gap: 2%; */
    }

    .choose-hotels {
        width: 100%;
        padding: 5px;
    }

    .choose-services {
        width: 100%;
        padding: 5px;
    }

    .choose-price {
        width: 100%;
        padding: 5px;
    }

    .choose-section-title p {

        padding-left: 0px;
        padding-right: 0px;

    }

    /* deals and section starts here  */
    .deal-done {
        margin-top: 20px;
    }

    .deal ul {
        font-size: 0.75rem;
        gap: 0px;
    }

    .deal,
    .deal-1 {

        padding-top: 200px;
        justify-content: center;

    }

    /* deals and section ends here  */
    /* vedio section  */
    .perfect-places-section {
        flex-direction: column;
        margin-top: 10px;

    }

    .places-container {
        width: 100%;
        /* padding-right: 30px;
        margin-right: 50px; */

    }

    .places-video {
        width: 100%;
    }

    /* Newsletter */
    .Newsletter-section-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .Newsletter-section-form {
        width: 100%;
    }

    .Newsletter-section-image {
        width: 100%;
    }

    .batch {

        width: 100px;
        padding: 10px;
        bottom: 140px;
        left: 160px;
    }
    
    .footer{
        padding: 0px;
        margin-top: 
        0px;
    }


}